/* Home page */
.nav-link {
  color: #ffd1dc
}
.nav-link:hover  {
  color: #ff85a2
}
.container {
  padding: 20px;
  
  }

.card {
  margin: 40px;

}


.btn {
  background-color:  #77b3cb;
  color: #ffd1dc
}

.btn:hover {
  color: #ff85a2
}
/* 2d page */
#lista {
  padding: 30px
}
/* 3d page */
